/**
* 
* style.css
* @author - Lameen
* @date - 16/04/2023
**/

.date-box {
    border-radius: 7px;
    color: #333333;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}
.react-date-picker__wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    color: #333333;
    padding: 6px 16px 6px 12px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}
.field-error {
    margin: 4px 0 10px 0;
    font-size: 11px;
    color: #cc4539;
    text-align: left;
}
.stroke {
    color: #737373;
}